.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carsGrid {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.carCard {
  text-align: center;
}
